<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <h1><%= trail.name %></h1>
    <p><%= trail.description %></p>

    <p><span>Trail length:<span> <%= trail.trail_length %></p>
    <p><span>Elevation gain:<span> <%= trail.elevation_gain %></p>

      <!-- if a user is logged in -->
      <% if (session.username) { %>

          <a id="link-button" href="/trails/<%= trail.trail_id %>/new">Post New Trail Condition</a>

      <% } %>


      <% trails.forEach(function(comment) { %>
        <p>
          <%= comment.creation_date %>
        </p>
        <p>
            <%= comment.comment %>
        </p>
      <% }); %>



  </body>
</html>
